PORT=
MONGO_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FFMPEG_PATH=C:\\Users\\Admin\\Downloads\\ffmpeg-2025-11-12-git-6cdd2cbe32-full_build\\bin\\ffmpeg.exe
MAIL_USER=
MAIL_PASS=
GOOGLE_GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_TRANSLATE_KEY=
REDIS_URL=
FRONTEND_URL=

// Vertex AI API Key
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GOOGLE_CLOUD_PROJECT=website-learning-japanese-javi
GOOGLE_CLOUD_LOCATION=us-central1
